/* sets flex to card-container and text-container sets padding, gap, and w/h for cards */

#mangaCard {
	cursor: pointer;
}

#cardContainer {
	display: flex;
	flex-direction: row;
}

.cardContainerChildren {
	padding: 1rem;
}

#textContainer {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-top: 0.25rem;
}

.mangaCover {
	width: 80px;
	height: 135px;
	border-radius: 0.5rem;
}

p {
	font-weight: 500;
}

#mangaAuthor {
	font-size: 0.75rem;
	line-height: 1.5;
}
