#descriptionContainer {
	background-color: #212121;
	height: 100%;
}

#description {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 3rem;
}

#headerInfo {
	height: 40%;
	display: flex;
	flex-direction: row;
}

#coverImageContainer {
	width: 30%;
}

#coverImageContainer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#mangaDetailsContainer {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#mangaTitle {
	margin: 0;
}

#mangaDescription {
	line-height: 1.5rem;
	height: 100%;
	overflow: scroll;
	scrollbar-width: none;
}

#buttonContainer {
	margin-top: 1.5rem;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#readButton {
	background-color: #219be6;
	border-radius: 1rem;
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#chapters {
	flex: 1;
}
