/* background color same as library. Set nav-container to flex columns. Added padding and on hover for icons */

#navSection {
	height: 100%;
	background-color: #363636;
}

#navContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 25%;
	justify-content: space-evenly;
}

.navIcons {
	font-size: 1.5rem;
	padding: 0.75rem;
	cursor: pointer;
	border-radius: 5px;
	color: #ffffff;
}

.navIcons:hover {
	background-color: #212121;
}
