/* Sets flex to extension-card, extension-card-details, and extension-action-container. Sets positioning for card elements. Different coloring for action button */

.extensionCard {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0.5rem 2rem 0.5rem 2rem;
	box-sizing: border-box;
}

.extensionLogo {
	padding: 0 1rem 0 0;
}

.extensionCardDetails {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.extensionTitle {
	font-weight: 600;
	cursor: pointer;
}

.extensionDetails {
	font-weight: 300;
	opacity: 0.75;
}

.extensionActionContainer {
	display: flex;
	justify-content: flex-end;
}

.extensionAction {
	text-align: center;
	cursor: pointer;
	display: inline-block;
	padding: 0.15rem 0.25rem 0.15rem 0.25rem;
	border-radius: 3px;
	font-size: small;
}

#installButton {
	background-color: #4caf50;
}
