.extension-card {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
}

img {
	padding: 0 1rem 0 0;
}

.extension-card-details {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.extension-title {
	font-weight: 700;
	cursor: pointer;
}

.extension-details {
	font-weight: 300;
	opacity: 0.75;
}

.extension-action-container {
	display: flex;
	justify-content: flex-end;
}

.extension-action {
	text-align: center;
	cursor: pointer;
	display: inline-block;
	padding: 0.15rem 0.25rem 0.15rem 0.25rem;
	border-radius: 3px;
	font-size: small;
}

#install-button {
	background-color: #4caf50;
}
