/* Style for title. Aligned with navbar */
#libraryComponent {
	background-color: #363636;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	width: 100%;
}

#title {
	width: 85%;
	height: 8.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #4a4656;
}

h1 {
	margin: 0;
	margin-top: 0.65rem;
	font-weight: 500;
	font-size: 2rem;
}

/* Styles for library manga cards */
#libraryContainer {
	display: flex;
	flex-direction: column;
}

#libraryContainer::-webkit-scrollbar {
	display: none;
}
